.regpage{
    height:100vh;
    width:100vw;
    background-image: linear-gradient(to bottom right, #9de6f5, #7e5ed6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover{
    width: 60em;
    height:40em;
    display: flex;
    /* padding: 10px; */
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
  }