html{
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom left, #FF66FF, #3333FF);
}

#root{
  /* height:1400px; */
  width: 1200px;
  margin: auto;
}