.page{
    background: rgb(234, 242, 245);
}

.logo{
  width:100px;
  height:80px;
  margin-right: 20px;
}

.search-button{
  background-color: #4E9BA6;
  color: white;
  border-radius: 5px;
  margin-left:0;
}

.chat{
  background-color: #4E9BA6;
  color: white;
  border-radius: 5px;
  margin-left:10px;
}
.logout{
  background-color: #4E9BA6;
  color: white;
  border-radius: 5px;
  margin-left:10px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contain{
    width:70%;
    display: flex;
    padding:10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-style: solid;
    border-color: #8f8787;
}
.time{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
}
.time p{
    margin-right: 20px;
  font-size: large;
}
.reason textarea{
    width: 350px;
}

.timesubmit{
    color:white;
    background-color: #4E9BA6;
    height: 50px;
    font-size:larger;
    border-radius: 10px;
    width: 150px;
    align-self: center;
    margin-top: 10px;
}
.heading h2{
    padding-left: 40%;
}
.heading{
    height:50px;
    margin-top: 20px;
    width:60%;
    padding: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color:#4E9BA6;
    background-color: white;
}
.logo{
  height: 100px;
  width: 100px;
}
#calendar{
  width:auto;
  min-height: 300px;
}
