.page{
    background: rgb(234, 242, 245);
}

.logo{
  width:100px;
  height:80px;
  margin-right: 20px;
}

.search-button{
  background-color: #4E9BA6;
  color: white;
  border-radius: 5px;
  margin-left:0;
}

.chat{
  background-color: #4E9BA6;
  color: white;
  border-radius: 5px;
  margin-left:10px;
}
.logout{
  background-color: #4E9BA6;
  color: white;
  border-radius: 5px;
  margin-left:10px;
}

.page-buttons{
    margin-left: 25%;
    margin-top: 20px;
}

button{
    color: white ;
    background-color: #4E9BA6;
}

.buttons-ins{
    margin-right: 60px;
    overflow: hidden;
    border-radius: 5px;
    width: 300px;
    padding: 7px;
}

.addnewplan{
  margin-top:30px;
  border-radius: 5px;
  padding: 5px;
  width:150px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
    border-color: #d5d4d8;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 30px;
  background: white;
  
}
.deleteplan{
  padding:5px;
  border-radius: 5px;
  width: 150px;
}

.plan-text{
  font-size: large;
  color:#3ba0b0
}
