.page{
    background: rgb(234, 242, 245);
}

.ins-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.search-wrap{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
select{
    margin-right: 50px;
    height: 20px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 50px;
}

.search button{
    width: 20%;
    background: #4E9BA6;
    color: white;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}
.search input{
    border-radius: 5px;
    text-indent: 10px;
}

.logo{
  width:100px;
  height:100px;
}

.page-buttons{
    margin-left: 25%;
    margin-top: 20px;
}

button{
    color: white ;
    background-color: #4E9BA6;
}

.buttons-ins{
    margin-right: 60px;
    overflow: hidden;
    border-radius: 5px;
    width: 300px;
    padding: 7px;
}

.addnewplan{
  margin-top:30px;
  border-radius: 5px;
  padding: 5px;
  width:150px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
    border-color: #d5d4d8;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 30px;
  background: white;
  
}
.deleteplan{
  padding:5px;
  border-radius: 5px;
  width: 150px;
}

.plan-text{
  font-size: large;
  color:#3ba0b0
}