*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: radial-gradient(#d8dfdf, #4e9ba6);
    background-repeat: no-repeat;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0 28rem 0;
}
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.25);
}
.lock-icon {
    font-size: 3rem;
}
h2 {
    color: rgb(88, 88, 88);
    font-size: 2.5rem;
    margin-top: 10px;
    padding-bottom: 1.0rem;
}
p {
    color: rgb(88, 88, 88);
    font-size: 1.5rem;
    padding-bottom: 1.0rem;
}
