*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-logo {
    width:130px;
    position: absolute;
    top: 0;
    left:0;
}

a{
    text-decoration: none;
    color: black;
}
.outer-card {
    background: radial-gradient(#d8dfdf, #4e9ba6);
    background-repeat: no-repeat;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0 14rem 0;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.25);
}
.lock-icon {
    font-size: 3rem;
}
h2 {
    color: rgb(88, 88, 88);
    font-size: 2.5rem;
    margin-top: 10px;
    padding-bottom: 1.0rem;
}
p {
    color: rgb(88, 88, 88);
    font-size: 1.5rem;
    padding-bottom: 1.0rem;
}

footer {
    background-color: white;
    margin: 20px;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  p {
    margin: 0;
  }
  
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #444;
    text-align: center;
    line-height: 40px;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .social-icons a:hover {
    /* background-color: #333; */
    background-color: #68b1bd;
  }

  @media (max-width: 800px) {

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
        padding-bottom: 14px;
    }

    .social-icons li:hover {
        background-color: white;
    }
    
  }

  @media (max-width: 550px) {

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        padding: 0 1em 10px 1em;
    }

    .card {
        max-width: 620px;
        padding: 4rem 0;
      }

  }

  @media (max-width: 450px) {

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        padding: 0 1em 10px 1em;
    }

    .outer-card {
        padding: 6rem 0;
    }

    .card {
        max-width: 350px;
        padding: 2rem 0;
      }

  }
