* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: radial-gradient(#d8dfdf, #4e9ba6);
    background-repeat: no-repeat;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13rem 0 13rem 0;
}
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    /* background-color: rgba(0, 0, 0, 0.75); */
    background-color: white;
    max-width: 500px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.25);
}
.innerCard {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width:80%;
}
.lock-icon {
    font-size: 3rem;
}
h2 {
    font-size: 36px;
    padding-bottom: 0.75rem;
    color: rgb(88, 88, 88);
    /* text-transform: uppercase; */
}
p {
    font-size: 18px;
    padding-bottom: 0.75rem;
    color: rgb(88, 88, 88);
}
li {
    margin: 0 4px 5px 18px;
    color: rgb(88, 88, 88);
}
.passInput {
    background: transparent;
    border: none;
    border-bottom: 2px solid #4e9ba6;
    font-size: 18px;
    color: rgba(85, 85, 85);
    outline: none;
}
button {
    margin-top: 18px;
    background-color: #4e9ba6;
    color: white;
    border-color: white;
    /* border-color:rgba(255, 255, 255, 0.125); */
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    transition: all .2s ease-in-out; 
}
.passwd {
    color: rgb(88, 88, 88);
    padding-top: 1.0em;
}
button:hover { 
    transform: scale(1.1); 
}
.logo{
    max-width: 25%;
}
